:root {
	--white: #FFFFFF;
	--black: #000000;
	--purple-light: #962BB5;
	--text-input-field: #eeeded;
	--very-light-pink: #C7C7C7;
	--sml: 14px;
	--med: 16px;
	--lar: 18px;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	gap: 35px;
	place-content: center;
}

.product-card {
	width: 240px;
	height: 400px;
}

.product-card img {
	width: 100%;
	height: 320px;
	border-radius: 24px;
	object-fit: cover;
}

.product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.product-info figure{
	margin: 0;
}

.product-info figure img{
	width: 35px;
	height: 35px;
}

.product-info div p:nth-child(1){
	font-weight: bold;
	font-size: var(--med);
	margin-top: 0;
	margin-bottom: 4px;
}

.product-info div p:nth-child(2){
	font-size: var(--sml);
	margin-top: 0;
	margin-bottom: 0;
	color: var(--very-light-pink);
}

@media(max-width: 640px) {
	.cards-container {
		grid-template-columns: repeat(auto-fill, 140px);
	}

	.product-card {
		width: 140px;
		height: 240px;
	}

	.product-card img {
		width: 100%;
		height: 200px;
	}

}
