:root {
	--white: #FFFFFF;
	--black: #000000;
	/* purple es el hospital */
	--purple-light: #962BB5;
	--text-input-field: #f7f7f7;
	--very-light-pink: #ACD9B2;
}

body {
	font-family: 'Inter', sans-serif;
}
