:root {
	--white: #FFFFFF;
	--black: #000000;
	--purple-light: #962BB5;
	--text-input-field: #f5f5f5;
	--very-light-pink: #C7C7C7;
	--sml: 14px;
	--med: 16px;
	--lar: 18px;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
}

.mobile-menu {
	padding: 24px;
}

.mobile-menu a {
	text-decoration: none;
	color: var(--black);
	font-weight: bold;
}

.mobile-menu ul {
	list-style: none;
	padding: 0;
	margin: 24px 0 0;
}

.mobile-menu ul:nth-child(1) {
	border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul:nth-child(2) {
	padding: 20px 0 75px;
}

.mobile-menu ul li {
	margin-bottom: 24px;
}

.email {
	font-size: var(--sml);
	font-weight: 300 !important;
}

.sign-out {
	font-size: var(--sml);
	color: var(--purple-light)!important;
}
